@import '../../../themes/vars.less';
.log-content-box {
  padding: 8px 24px;
  :global {
    .ant-descriptions-item-label {
      width: 100px;
      padding-right: 20px;
      color: fade(@black, 65%);
      font-weight: 700;
      text-align-last: justify;
    }
    .ant-descriptions-item-content {
      word-break: break-word;
    }
  }
}
