.stage-box {
  height: 100%;
  padding: 0;
  overflow: hidden;
  :global {
    .ant-modal-body {
      height: 420px;
      padding: 0;
    }
    .ant-input-number-handler-wrap {
      display: none;
    }
    .ant-modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
