@import '../../../themes/vars.less';
.stage-box {
  height: 100%;
  padding: 0;
  overflow: hidden;
  :global {
    .trigger-back {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 56px;
      height: 56px;
      font-weight: normal;
      line-height: 58px;
      cursor: pointer;
      transition: all ease-in 0.2s;
      &:hover {
        color: @primary-color;
        background-color: fade(@black, 2%);
      }
    }
    .ant-modal-title {
      padding-left: 36px;
    }
    .ant-modal {
      padding: 0;
    }
    .ant-modal,
    .ant-modal-content {
      width: 100% !important;
      height: 100% !important;
      overflow: hidden;
      border-radius: 0;
    }
    .ant-modal-body {
      height: calc(100% - 108px);
      padding: 0;
      background-color: @page-background-color;
    }
    .ant-input-number-handler-wrap {
      display: none;
    }
    .ant-modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
