@import '../../themes/vars.less';
.container-box {
  position: relative;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: @page-background-color;
  :global {
    .copy-btn {
      width: 24px;
      height: 24px;
      line-height: 28px;
      border-radius: 4px;
      visibility: hidden;
      transition: all 0.3s;
      &:hover {
        background-color: fade(@primary-color, 15%);
      }
    }
    .left-content {
      .suid-list-card-tool-box {
        padding: 0 24px;
      }
      .ant-card-head {
        padding: 0 8px 0 24px;
      }
      .filter-box.ant-dropdown-open {
        .view-content {
          color: fade(@black, 65%);
        }
      }
    }
    .main-content {
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }
}
