@import '../../themes/vars.less';
@passed: #25b864;
@reject: @error-color;
.container-box {
  position: relative;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: @page-background-color;
  :global {
    .suid-tool-bar {
      position: relative;
      overflow: hidden;
      .btn-item {
        margin-right: 8px;
      }
      .icon-btn-item {
        display: inline-block;
        width: 60px;
        height: 32px;
        padding: 0 8px;
        line-height: 32px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease-in 0.2s;
        &.has-filter,
        &:hover {
          color: @primary-color;
          background-color: fade(@black, 5%);
        }
      }
    }
    .ant-table-tbody > tr > td {
      color: fade(@black, 65%);
      font-weight: normal;
      &.action {
        padding: 0 8px !important;
        .action-box {
          display: inline-block;
          height: 100%;
          i {
            line-height: 34px !important;
            &.passed {
              color: @white;
              background-color: @passed;
              border: 1px solid @passed;
            }
            &.passed:hover {
              color: @passed !important;
              background-color: @white !important;
            }
            &.reject {
              color: @white;
              background-color: @reject;
              border: 1px solid @reject;
            }
            &.reject:hover {
              color: @reject !important;
              background-color: @white !important;
            }
          }
        }
      }
    }
  }
}
